{{yield}}
{{#each model as |restaurant|}}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" id="restaurant">
        <img src={{restaurant.image}} class="img-rounded" alt={{restaurant.name}} width="240" height="160" align="center">
        <p><b>{{restaurant.name}}</b></p>
        <p>{{restaurant.phone}}</p>
        <p>{{restaurant.address.streetName}}</p>
        <p>{{restaurant.address.city}}</p>
        <p>{{restaurant.address.country}}</p>
    </div>
{{/each}}