<div id="topImage">
    <div class="container" id="topImageReservation">
        <h1>Make a free reservation</h1>

        <div id="reservationDiv">
            <form  {{action 'makeReservation' on="submit"}}>
                <div class="control-group col-lg-2">
                    <div class="controls">
                      {{input value=guestCount type="number" min="1" class="form-control "  placeholder="Number of guests"  required=true }}
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="controls">
                      {{input value=date type="date" class="form-control "  placeholder="Date" required=true }}
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="controls">
                      {{input value=time type="time" class="form-control "  placeholder="time" required=true }}
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="controls">
                        <select class="form-control" onchange={{action "selectRestaurant" value="target.value"}}>
                          {{#each model as |restaurant|}}
                              <option value={{restaurant.restaurantId}}>{{restaurant.name}}</option>
                          {{/each}}
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn">Make reservation</button>
            </form>
        </div>
        <div class="clearfix visible-lg visible-md"></div>
        <p id="linkToAllRestaurants">{{#link-to "allRestaurants"}}View all restaurants{{/link-to}}</p>
    </div>
</div>

<div class="container" id="mainContainer">
    <h3>Popular restaurants</h3>
    <hr>
    {{restaurant-component}}
</div>

{{loading-component}}