<div class="container">
  <img id="topRestaurantImage" src={{model.image}} >

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 " id="restaurantInfo">
        <h2>{{model.name}}</h2>
        <b>Street: </b> {{model.address.streetName}}<br>
        <b>City: </b> {{model.address.city}}<br>
        <b>Country: </b>{{model.address.country}}<br>
        <b>Phone: </b> {{model.phone}}<br>
        <b>Working hours: </b>{{model.workingHours}}<br>
        <b>Rating: </b> {{model.rating}}<br>
        <b>Deals: </b> {{model.deals}}<br>
    </div>
    <div id="googleMap" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">

    </div>
    <div id="allReservation" class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
        
    </div>
</div>